.header {
    position: fixed;
    padding: 25px 0px 0px 3%;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-container .logo-font {
    font-weight: 300;
    font-size: 32px;
}

.logo-container .logo{
    padding: 0;
}